# Ignore node_modules directory
node_modules/

# Ignore log files and error reports
*.log*
error.log
*.swp
npm-debug.log*
yarn-debug.log*
yarn-error.log*

data/

# Ignore IDE or editor-specific files
.vscode/
.idea/

# Ignore environment file
.env

# Ignore package-lock.json for npm
package-lock.json

# Ignore .DS_Store files
.DS_Store

# Ignore config file for Windows users
Thumbs.db

# Ignore system files that might appear on external disks
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
System Volume Information/

# Ignore SFTP configuration file
.ssh/

# Ignore yarn's .pnp files
.pnp.*

# Ignore yarn v2 state file
.yarn/

# Ignore npm debug log
npm-debug.log*

# Ignore coverage directory
coverage/

# Ignore .env.local file
.env.local

# Ignore .env.development.local file
.env.development.local

# Ignore .env.test.local file
.env.test.local

# Ignore .env.production.local file
.env.production.local
